* {
    margin: 0 auto;
    padding: 0;
}

body {
    background: url(P_Fitbit/P_bg.jpg) center no-repeat;
    width: 750px;
    height: 1330px;
    flex-wrap: wrap;
}

#oferta{
    background: url(P_Fitbit/P_date_tag.png);
    width: 254px;
    height: 98px;
    margin-left: 20px;
}

.loadingPage IMG, .shadow{
    position: relative;
}

.onTop {
    top: -400px;
    left: -10px;
    z-index: 5;
    height: 565px;
    width: 450px;
} 
.centered { 
    top: 60px;
    right: 259px;
    z-index: 2;
    width: 440px;
    height: 495px;
}

.below {
    top: 400px;
    right: 540px;
    z-index: 1;
    height: 479px;
    width: 430px;

}

 .centered {
    opacity:0; /*Элемент полностью прозрачный (невидимый)*/
	transition: 0.7s; /*Скорость перехода состояния элемента*/
	animation: show 0.7s 1; /* Указываем название анимации, её время и количество повторов*/
    animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
    animation-delay: 0.7s; /* Задержка перед началом */
}

.desde {
    top: 594px;
    right: 1047px;
    z-index: 3;
    height: 240px;
    width: 300px;
}

.loadingPage IMG:hover {
    z-index: 10;
}

.shadow {
    top: -50px;
    width: 750px; 
    opacity:0; /*Элемент полностью прозрачный (невидимый)*/
	transition: 1.1s; /*Скорость перехода состояния элемента*/
	animation: show 1.1s 1; /* Указываем название анимации, её время и количество повторов*/
    animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
    animation-delay: 1.1s; /* Задержка перед началом */
}

footer, .loadingPage {
    display: flex;
}

footer {
    margin: 0;
}

.title, .fitBit, .cta {
    position: static;
}

.title {
    margin: 50px 115px 20px;
}

.title, .desde, .onTop, .below {
	opacity:0; /*Элемент полностью прозрачный (невидимый)*/
	transition: 1s; /*Скорость перехода состояния элемента*/
	animation: show 1s 1; /* Указываем название анимации, её время и количество повторов*/
    animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
    animation-delay: 1s; /* Задержка перед началом */
}

.fitBit {
    margin: 190px 25px 30px;
    height: 85px;
}

.cta {
    margin: 190px 60px 30px;
    width: 380px;
}


@keyframes show{
    0%{
        opacity:0;
    }
    
    
    100% {
        opacity:1;
    }
}